@use "theme";
@use "table";
@use "modal";
@use "form";
@use "nav";
@use "dashboard";

body {
  background-color: theme.$primary-bg;
  color: theme.$primary-fg;
  font-family: theme.$font-family;
}

button {
  font-size: theme.$font-size-base;
}
