// $themes: (
//   "default": (
//     "primary-bg": #271227,
//     "secondary-bg": #a849a8,
//     "tertiary-bg": #a849a8,
//     "primary-fg": #ffffff,
//     "secondary-fg": #77c3c9,
//     "tertiary-fg": #77c3c9,
//     "link-color": #7fdde4,
//   ),
// );

// Colors
$primary-bg: #271227;
$secondary-bg: #a849a8;
$tertiary-bg: #a849a8;
$primary-fg: #ffffff;
$secondary-fg: #77c3c9;
$tertiary-fg: #77c3c9;
$link-color: #7fdde4;

// Font
$font-stack: Helvetica, Arial, sans-serif;
$xlarge-font: 24px;
$large-font: 22px;
$normal-font: 20px;
$medium-font: 17px;
$small-font: 14px;

// Etc.
$link-decoration: none;